<%- include("./header/header") %>

    <div class="content">
        <img src="img/LOTUS_Logo_PNG.png" class="img-fluid" alt="Responsive image">
        <div class="title">
            <h1>Lotus Here we Go</h1>
        </div>
        <p>Opdrachten handler</p>
    </div>

    <%- include("./footer/footer") %>