<input type="checkbox" id="active" />
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Gebruikers</a></li>
        <li><a href="#">Opdrachten</a></li>
        <li><a href="#">Maak opdracht</a></li>
        <li><a href="#">Verzoeken</a></li>
    </ul>
</div>
